<div class="support-section">
  <h3>Support My Work</h3>
  <p>
    If you found this article helpful, consider buying me a coffee!
    Your support helps me create more content.
  </p>
  <a href="https://ramenkarna.gumroad.com/coffee" target="_blank" rel="noopener" class="support-button">
    <i class="fa-solid fa-mug-hot"></i> Buy Me a Coffee
  </a>
</div>
